<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${sectionName}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/css/community.css"/>
    <script src="/js/jquery-3.4.1.min.js" type="application/javascript"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
</head>
<body>
<div th:insert="~{navigation :: nav}"></div>
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2><span th:text="${sectionName}"></span></h2>
            <hr>
            <div class="media" th:each="question : ${pagenation.questions}">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object img-rounded" style="width: 38px;height: 38px" th:src="${question.user.avatarUrl}" alt="我的图片！">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading" th:text="${question.title}"></h4>
                    <span class="text-desc"> <span th:text="${question.commentCount}"></span> 个回复 • <span th:text="${question.viewCount}"></span> 次浏览 • <span th:text="${#dates.format(question.gmtCreate,'yyyy-MM-dd HH:mm:ss')}"></span>分钟前</span>
                </div>
            </div>
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li th:if="${pagenation.showFirstPage}">
                        <a th:href="@{'/profile/' + ${section}(page=${1})}" aria-label="Previous">
                            <span aria-hidden="true">&lt;&lt;</span>
                        </a>
                    </li>
                    <li th:if="${pagenation.showPrevious}">
                        <a th:href="@{'/profile/' + ${section}(page=${pagenation.page - 1})}"  aria-label="Previous">
                            <span aria-hidden="true">&lt;</span>
                        </a>
                    </li>
                    <li th:each="page : ${pagenation.pages}" th:class="${pagenation.page == page}? 'active':''">
                        <a th:href="@{'/profile/' + ${section}(page=${page})}"  th:text="${page}"></a>
                    </li>
                    <li th:if="${pagenation.showNext}">
                        <a th:href="@{'/profile/' + ${section}(page=${pagenation.page + 1})}"  aria-label="Previous">
                            <span aria-hidden="true">&gt;</span>
                        </a>
                    </li>
                    <li th:if="${pagenation.showEndPage}">
                        <a th:href="@{'/profile/' + ${section}(page=${pagenation.totalPage})}" aria-label="Previous">
                            <span aria-hidden="true">&gt;&gt;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="list-group" style="margin-top: 15px;">
              <a href="/profile/questions" class="list-group-item" th:classappend="${section == 'questions'? 'active':''}">我的问题</a>
              <a href="/profile/replies" class="list-group-item" th:classappend="${section == 'replies'? 'active':''}">最新回复<span class="badge">14</span></a>
              <a href="#" class="list-group-item">Morbi leo risus</a>
              <a href="#" class="list-group-item">Porta ac consectetur ac</a>
              <a href="#" class="list-group-item">Vestibulum at eros</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>